<!DOCTYPE html>
<html>

<body>
	<div th:fragment="content">
		<h2>Dashboard</h2>
		<p>Donec dui augue, cursus at facilisis in, ullamcorper dignissim
			velit. Integer rutrum quis ipsum at malesuada. Sed aliquet sit amet
			sapien et condimentum. In arcu sem, suscipit non pellentesque et,
			luctus tincidunt neque. Cras vulputate commodo elit, nec malesuada
			odio elementum luctus. Sed accumsan metus quis lectus consectetur
			pellentesque. Mauris at purus vel massa consectetur iaculis sed eu
			magna. Pellentesque turpis odio, gravida scelerisque pellentesque
			vitae, mattis in justo. Nam tincidunt ex ligula, sed malesuada tortor
			commodo rhoncus. In sit amet sapien eget erat finibus laoreet a eu
			sem. Pellentesque auctor condimentum porta. Morbi rutrum molestie
			hendrerit.</p>
		<p>Vestibulum lobortis metus eu cursus consequat. Phasellus
			placerat quis leo malesuada mollis. Morbi aliquet sit amet ligula ac
			sollicitudin. Vestibulum a fringilla odio. Donec vulputate finibus
			nunc, quis ultricies sapien ullamcorper ut. Nulla fermentum tortor
			quis placerat congue. Mauris fringilla, ex scelerisque hendrerit
			bibendum, odio orci blandit urna, in faucibus dolor velit et neque.
			Sed elementum est laoreet enim tristique aliquam. Vestibulum blandit
			aliquam neque nec mollis.</p>
		<p>Fusce viverra fringilla viverra. Duis malesuada purus ac dolor
			ultricies sodales. Duis mauris eros, scelerisque nec porta eget,
			luctus et risus. Etiam in blandit mauris. Etiam id erat risus. Proin
			at turpis nec mauris venenatis molestie. Phasellus id metus eleifend,
			finibus tortor non, posuere massa. Nulla facilisi. Curabitur faucibus
			nisi eu accumsan facilisis.</p>
	</div>
</body>
</html>