<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="content">
	<h3>Roles Management <a class="btn btn-sm btn-success" th:href="@{/role/save}">Add</a></h3>
	<table class="table">
		<tr>
			<th th:text="Name"></th>
			<th></th>	
		</tr>
		<tr th:each="role : ${roles}">
			<td th:text="${role.name}"></td>
			<td>
				<a class="btn btn-sm btn-info" th:href="@{/role/details/{id}(id = ${role.roleId})}">Details</a>
				<a class="btn btn-sm btn-primary" th:href="@{/role/edit/{id}(id = ${role.roleId})}">Update</a>
				<a class="btn btn-sm btn-danger" th:href="@{/role/delete/{id}(id = ${role.roleId})}">Delete</a>
			</td>	
		</tr>
	</table>
</div>
</body>
</html>